body {
    background-color: #FFFBF5;
}

/* Color */

.orange {
    color: #E38B2A !important;
}

.soft-orange {
    background-color: #FDEEDC;
}

/* Navbar */

.navbar {
    background-color: #FFFBF5 !important;
}

.nav-link {
    color: #E38B2A;
}

.nav-link:hover {
    color: #9c5911;
}

/* Button */

.auth .btn {
    background-color: #E38B2A !important;
    color: #FFFBF5;
    vertical-align: middle;
}

.auth .btn:hover {
    color: #FFFBF5;
    background-color: #9c5911 !important;
}

.auth .no-margin {
    margin: 0px 0px 0px 0px !important;
}

/* Register */

.auth .label-form {
    font-weight: 600;
}

.auth .header-form {
    font-weight: bold;
}

.auth .form-control {
    border-color: #E38B2A;
}

.auth .form-control:focus {
    border-color: #E38B2A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E38B2A;
}

.auth .form-control:valid {
    background-color: #FDEEDC !important;
}

.auth .input-group-phone {
    border-color: #ffe3c1;
    background-color:  #E38B2A!important;
    color: #FFFBF5;
}

.auth .input-group-icon {
    border-color: #ffe3c1;
    background-color:  #E38B2A!important;
    color: #FFFBF5;
}

.navb .fas {
    color: #E38B2A;
}

.navb .fas:hover {
    color: #9c5911;
}

.navb .far {
    color: #E38B2A;
}



    
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FDEEDC inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

.auth .radio-button {
    accent-color: #E38B2A;
}

/* Login */

.auth .card-login {
    --bs-card-border-color: none !important;
    --bs-card-border-radius: 0m;
    --bs-card-box-shadow: none !important;
    --bs-card-cap-bg: transparent;
}

.auth .checklist {
    accent-color: #E38B2A;
}

.auth .link-hover-register:hover {
    color: #9c5911 !important;
}

/* dashboard */
.dashboard form,
.detail form,
.category form {
    display: flex;
    align-items: center;
    border: 2px #E38B2A solid;
    border-radius: 15px;
}

.dashboard input[type="text"],
.detail input[type="text"],
.category input[type="text"] {
    color: #E38B2A;
    padding: 0.5em;
    border: none;
    outline: none;
    flex: 1;
    background-color: #FDEEDC;
    border-radius: 15px 0 0 15px;
    padding-left: 1.5vw;
}

.dashboard input[type="text"]::placeholder,
.detail input[type="text"]::placeholder,
.category input[type="text"]::placeholder {
    color: #E38B2A;
}

.dashboard .search-btn,
.detail .search-btn,
.category .search-btn {
    padding: 0.5em;
    padding-right: 1.5vw;
    border: none;
    outline: none;
    background: transparent;
    color: #E38B2A;
    font-size: 1em;
    cursor: pointer;
    background-color: #FDEEDC;
    border-radius: 0px 15px 15px 0px;
}

.dashboard button:hover,
.detail button:hover,
.category button:hover {
    color: #111;
}

.dashboard .fa,
.detail .fa,
.category .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dashboard .card-container .row,
.detail .card-container .row,
.category .card-container .row {
    margin: 0 !important;
}

.dashboard .card,
.detail .card,
.category .card {
    border-radius: 0;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard .card-link,
.detail .card-link,
.category .card-link {
    text-decoration: none;
    color: #E38B2A;
}

.dashboard .card-img-top,
.detail .card-img-top,
.category .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.dashboard .container-title,
.detail .container-title,
.category .container-title {
    background-color: #E38B2A;
    height: 7vh;
}

.dashboard .container-title h5,
.detail .container-title h5,
.category .container-title h5 {
    margin: 0;
    font-size: 2em;
    color: #FDEEDC;
    width: auto !important;
}

.dashboard .container-title a,
.detail .container-title a,
.category .container-title a {
    text-decoration: none;
    color: #FDEEDC;
    font-size: 1em;
    width: auto;
}

.dashboard .view-all,
.detail .view-all,
.category .view-all {
    width: 80%;
}

.dashboard .container-body,
.detail .container-body {
    background-color: #FFFBF5;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding: 5vh 0 5vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard .container-body-detail,
.detail .container-body-detail,
.category .container-body-detail {
    background-color: white;
    flex-wrap: wrap;
    padding: 1.5vh 0 1.5vh 0;
}

.dashboard .container-body .col,
.detail .container-body .col,
.category .container-body .col {
    margin-top: 0 !important;
}

.dashboard .container-body::-webkit-scrollbar,
.detail .container-body::-webkit-scrollbar {
    height: 1vh;
}

.dashboard .container-body::-webkit-scrollbar-track,
.detail .container-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dashboard .container-body::-webkit-scrollbar-thumb,
.detail .container-body::-webkit-scrollbar-thumb {
    background: #E38B2A;
}

.dashboard .container-body::-webkit-scrollbar-thumb:hover,
.detail .container-body::-webkit-scrollbar-thumb:hover {
    background: #db7b13;
}

.dashboard .add-cart-btn,
.detail .add-cart-btn,
.category .add-cart-btn {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background-color: #E38B2A;
    color: #FDEEDC;
}

.dashboard .add-cart-btn i,
.detail .add-cart-btn i,
.category .add-cart-btn i {
    margin: 0 0.5vw 0 1vw;
}

/* end dashboard */

/* detail */
.detail .detail-image-container img,
.dashboard .dashboard-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.detail .product-info {
    padding: 40px;
    color: #E38B2A;
}

.detail .product-info h1,
.detail .product-info h3,
.detail .product-info .quantity {
    margin-left: 3vw;
}

.detail .quantity input {
    background-color: #ffe3c1;
    border: 1px #E38B2A solid;
}

.detail .quantity input {
    background-color: #ffe3c1;
    border: 1px #E38B2A solid;
    color: #E38B2A;
}

.detail .quantity label,
.detail .quantity input {
    margin-right: 1vw;
}

.detail #kuantitas:focus {
    border-color: #9c5911;
    outline: none;
    color: #E38B2A;
}

.detail .detail-add-cart button {
    border: none;
    background-color: #E38B2A;
    color: #FDEEDC;
    border-radius: 10px;
    width: 60%;
    height: 6vh;
    margin: auto;
    font-size: large;
}

.detail .detail-add-cart button i {
    margin: 0 0.5vw 0 1vw;
}

.detail .detail-image-container img {
    aspect-ratio: 3/2 !important;
    object-fit: contain !important;
}

/* .detail #kuantitas::-webkit-inner-spin-button,
.detail #kuantitas::-webkit-outer-spin-button {
    margin: 0;
    color: #639fff !important;
    background-color: #fff !important;
} */

.detail .desc {
    padding: 20px;
    color: #E38B2A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* end detail */


/* category */
.category .container-body {
    background-color: #FFFBF5;
    padding: 5vh 0 5vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* end category*/

/* dashboard admin */

.admin_dashboard .search-button {
    background-color: #FDEEDC !important;
    border: 2px solid #E38B2A !important;
    border-radius: 0.9rem 0rem 0rem .9rem !important;
}

.admin_dashboard input[type="search"]::placeholder {
    color: #E38B2A;
}

.admin_dashboard .btn-search {
    color: #FFFBF5 !important;
    --bs-btn-border-color: #E38B2A !important;
    --bs-btn-bg: #E38B2A !important;
    --bs-btn-hover-bg: #9c5911 !important;
    --bs-btn-hover-border-color: #9c5911 !important;
}

.admin_dashboard .search-button:focus {
    border-color: #E38B2A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E38B2A;
}

.admin_dashboard .btn-add {
    color: #FFFBF5 !important;
    --bs-btn-border-color: #E38B2A !important;
    --bs-btn-bg: #E38B2A !important;
    --bs-btn-hover-bg: #9c5911 !important;
    --bs-btn-hover-border-color: #9c5911 !important;
}

.admin_dashboard .btn-edit {
    color: #8D00FC !important;
    border-color: #8D00FC !important;
}

.admin_dashboard .btn-edit:hover {
    color: #FFFBF5 !important;
    background-color: #8D00FC !important;
}

.admin_dashboard .btn-delete {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
}

.admin_dashboard .btn-delete:hover {
    color: #FFFBF5 !important;
    background-color: #FF0000 !important;
}

.admin_dashboard .card-parent {
    background-color: #FFFBF5 !important;
    --bs-card-border-color: none !important;
}

/* end dashboard admin */

/* add admin */

.admin_add .orange {
    font-weight: 500;
}

.admin_add .form-control, .admin_add .form-select {
    border-color: #E38B2A;
}

.admin_add .form-control:focus, .admin_add .form-select:focus {
    border-color: #E38B2A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E38B2A;
}

.admin_add .form-control:valid, .admin_add .form-select:valid {
    background-color: #FDEEDC !important;
}

.admin_add .input-group-text {
    border-color: #ffe3c1;
    background-color:  #E38B2A !important;
    color: #FFFBF5;
}

.admin_add .form-select {
    color: #E38B2A !important;
}

.admin_add .btn-back, .admin_add .btn-add {
    color: #FFFBF5 !important;
    --bs-btn-border-color: #E38B2A !important;
    --bs-btn-bg: #E38B2A !important;
    --bs-btn-hover-bg: #9c5911 !important;
    --bs-btn-hover-border-color: #9c5911 !important;
}
  

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;

}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover .input-group-file {
    background-color: #9c5911 !important;
    cursor: pointer;
}