body {
    background-color: #FFFBF5;
}

/* Color */

.orange {
    color: #E38B2A !important;
}

.soft-orange {
    background-color: #FDEEDC;
}

/* Navbar */

.navbar {
    background-color: #FFFBF5 !important;
}

.nav-link {
    color: #E38B2A;
}

.nav-link:hover {
    color: #9c5911;
}

/* Button */

.btn {
    background-color: #E38B2A !important;
    color: #FFFBF5;
    vertical-align: middle;
}

.btn:hover {
    color: #FFFBF5;
    background-color: #9c5911 !important;
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

/* Register */

.label-form {
    font-weight: 600;
}

.header-form {
    font-weight: bold;
}

.form-control {
    border-color: #E38B2A;
}

.form-control:focus {
    border-color: #E38B2A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E38B2A;
}

.form-control:valid {
    background-color: #FDEEDC !important;
}

.input-group-text {
    border-color: #E38B2A;
}

.fas {
    color: #E38B2A;
}

.fas:hover {
    color: #9c5911;
}

.far {
    color: #E38B2A;
}

.input-group-text {
    background-color: #ffe3c1 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FDEEDC inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FDEEDC inset !important;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

.radio-button {
    accent-color: #E38B2A;
}

/* Login */

.card-login {
    --bs-card-border-color: none !important;
    --bs-card-border-radius: 0m;
    --bs-card-box-shadow: none !important;
    --bs-card-cap-bg: transparent;
}

.checklist {
    accent-color: #E38B2A;
}

.link-hover-register:hover {
    color: #9c5911 !important;
}

/* dashboard */
.dashboard form {
    display: flex;
    align-items: center;
    border: 2px #E38B2A solid;
    border-radius: 20px;
}

.dashboard input {
    color: #E38B2A;
    padding: 0.5em;
    border: none;
    outline: none;
    flex: 1;
    background-color: #FDEEDC;
    border-radius: 20px 0 0 20px;
    padding-left: 1.5vw;
}

.dashboard input::placeholder {
    color: #E38B2A;
}

.dashboard .search-btn {
    padding: 0.5em;
    padding-right: 1.5vw;
    border: none;
    outline: none;
    background: transparent;
    color: #E38B2A;
    font-size: 1em;
    cursor: pointer;
    background-color: #FDEEDC;
    border-radius: 0px 20px 20px 0px;
}

.dashboard button:hover {
    color: #111;
}

.dashboard .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-container .row {
    margin: 0 !important;
}

.card {
    border-radius: 0;
}

.card-link {
    text-decoration: none;
    color: #E38B2A;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.container-title {
    background-color: #E38B2A;
    height: 7vh;
}

.container-title h5 {
    margin: 0;
    font-size: 2em;
    color: #FDEEDC;
    width: auto !important;
}

.container-title a {
    text-decoration: none;
    color: #FDEEDC;
    font-size: 1em;
    width: auto;
}

.view-all {
    width: 80%;
}

.container-body {
    background-color: #FFFBF5;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding: 1.5vh 0 1.5vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-body-detail {
    background-color: white;
    flex-wrap: wrap;
    padding: 1.5vh 0 1.5vh 0;
}

.container-body .col {
    margin-top: 0 !important;
}

.container-body::-webkit-scrollbar {
    height: 1vh;
}

.container-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container-body::-webkit-scrollbar-thumb {
    background: #E38B2A;
}

.container-body::-webkit-scrollbar-thumb:hover {
    background: #db7b13;
}

.add-cart-btn {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background-color: #E38B2A;
    color: #FDEEDC;
}

.add-cart-btn i {
    margin: 0 0.5vw 0 1vw;
}

/* end dashboard */
