/* Cart */

.cart .btn-quantity,
.cart .form-control {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: #E38B2A !important;
}

.cart .btn-delete {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
}

.cart .btn-delete:hover {
    color: #FFFBF5 !important;
    background-color: #FF0000 !important;
}

@media screen and (max-width: 991px) {
    .cart img {
        height: auto !important;
    }

    .input-group-header {
        width: 100% !important;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .cart .container {
        width: 80% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .input-group-header-2 {
        width: 35% !important;
    }
}

/* End of cart */
