.checkout .card-header {
    border: none;
    background-color: transparent;
    color: #E38B2A;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.checkout .card {
    border: none;
    background-color: transparent;
    color: #E38B2A;
    font-weight: bold;
}

.checkout .form-control {
    background-color: #FDEEDC;
    color: #E38B2A;
    border: 1px #E38B2A solid;
    border-radius: 0;
}

.checkout .input-group-text {
    background-color: #E38B2A;
    color: #FDEEDC;
    border: 1px #E38B2A solid;
    border-radius: 0;
}

.checkout .readonly {
    background-color: #D9D9D9 !important;
}

.checkout .form-control:focus {
    border-color: #E38B2A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #E38B2A;
}

.checkout .purchase-btn button {
    width: 35%;
    border: none;
    background-color: #E38B2A;
    color: #FDEEDC;
    font-weight: bold;
    height: 5vh;
}

.checkout input:-webkit-autofill,
.checkout input:focus:-webkit-autofill,
.checkout input:hover :-webkit-autofill {
    -webkit-text-fill-color: #E38B2A !important;
    -webkit-box-shadow: 0 0 0 1000px #FDEEDC inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.checkout .custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.checkout .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.checkout .custom-file-button input[type=file]::file-selector-button {
    display: none;
}