.history .accordion-button {
    --bs-accordion-btn-bg: #FDEEDC !important;
    color: #E38B2A;
}

.history .accordion-button:not(.collapsed) {
    --bs-accordion-active-bg: #E38B2A !important;
    color: #FDEEDC;
}

/* .accordion-button:focus {
    box-shadow: 5px 10px #888888;
    border-color: rgba(0,0,0,.125);
} */