/* profile */

.profile .value-col,
.edit-profile .value-col {
    background-color: #E5DBCE;
    padding: 5px 8px 5px 8px;
    font-weight: 400;
    border: 1px #E38B2A solid;

}

.profile .card-header,
.edit-profile .card-header {
    border: none;
    background-color: transparent;
    color: #E38B2A;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.profile .card,
.edit-profile .card {
    border: none;
    background-color: transparent;
    color: #E38B2A;
    font-weight: bold;
}

.profile .edit-profile-btn button,
.edit-profile .edit-profile-btn button {
    width: 35%;
    border: none;
    background-color: #E38B2A;
    color: #FDEEDC;
    font-weight: bold;
    height: 5vh;
}

.edit-profile .form-control {
    background-color: #FDEEDC;
    color: #E38B2A;
    border: 1px #E38B2A solid;
    border-radius: 0;
}

.edit-profile .input-group-text {
    background-color: #E38B2A;
    color: #FDEEDC;
    border: 1px #E38B2A solid;
    border-radius: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .edit-profile .edit-profile-container {
        width: 60% !important;
    }
}

/* end profile */
